@(u:Account)

@main("Logged") {
    @if(u.role == Administrator) {
        <h1>You are an administrator</h1>
    } else {
        <h1>You are a normal user!</h1>
    }
    <a href="@{
        routes.AuthController.logout
    }">logged_page</a>
}