@(cats: List[Department])

@main("Cat database") {
  <h2>Insert a departments here:</h2>

  <form action="/insert" method="POST">
    <input name="id" type="text" placeholder="id"/>
    <input name="shortName" type="text" placeholder="short name"/>
    <input name="fullName" type="text" placeholder="full name"/>
    <input type="submit"/>
  </form>

  <h2>Previously inserted departments:</h2>
  <table>
    <tr><th>Id</th><th>short name</th><th>full name</th></tr>
    @for(c <- cats){
    <tr><td>@c.id</td><td>@{c.shortName}</td><td>@c.fullName</td></tr>
    }
  </table>

}
